html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: none;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient( 40deg, cyan, blue);
}
body.active {
    background: linear-gradient(40deg,  red, orange);
}
#check {
    visibility: hidden;
    position: absolute;
}
.click {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 100px;
    box-shadow: 0 0 10px #fff;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
}
.click::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    transition: .5s;
    background: linear-gradient(-40deg, red, orange);
    box-shadow: 0 0 5px orange;
}

#check:checked + .click::after {
    transform: translate(100px);
    background: linear-gradient(-40deg, cyan, blue);
    box-shadow: 0 0 5px darkcyan;
}