html {
    box-sizing: border-box;
}
*,*::after,*::before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  font-size: 100%;
  box-sizing: inherit;
}
body {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}
.box {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: url(img/cradle.png);
    background-size: 100% 100%;
    z-index: 10;
}
button {
    align-self: start;
    margin: 20px;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    transition: .3s;
    background: linear-gradient(cyan, darkblue);
    background: linear-gradient(orange, rgb(219, 9, 9));
}
button:active {
    transform: scale(.9);
}
.part {
    position: absolute;
    width: 5.5vw;
    height: 43vh;
    z-index: 5;

}
.one {
    top:24.7vh;
    left: 57vh;
}
#_one {
    animation: one 1s cubic-bezier(1,1, 1, 1) infinite alternate;
}
.two {
    top: 24.7vh;
    left: 91vh;
}
#_two {
    animation: two 1s 1s cubic-bezier(1,1, 1, 1) infinite alternate;
}

@keyframes one {
    0%{
        transform: rotate(0deg);
        top:24.7vh;
        left: 57vh;
    }

    50% {
        transform: rotate(0deg);
        top:24.7vh;
        left: 57vh;
    }

    100% {
        transform: rotate(30deg);
        top:22.7vh;
        left:45vh;
    }
}
@keyframes two {
    0%{
        top: 24.7vh;
        left: 91vh;
        transform: rotate(0deg);
    }

    50% {
        top: 24.7vh;
        left: 91vh;
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-30deg);
        top:22.7vh;
        left:105vh;
    }
}

