html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    background: url('image/view.jpg') #adadad center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 100vh;
    z-index: 1;
}

div {
    display: inline-block;
    position: relative;
    width: 25vh;
    height: 25vh;
}

img {
    width: 100%;
    position: relative;
}

.traffic-light {
    left: -5vh;
    top: 45vh;
    cursor: pointer;
}

.car {
    width: 30vh;
    top: 60vh;
    left: 50px;
    animation: show 3s ease;
}

#car {
    width: 30vh;
    top: 60vh;
    left: 50px;
    animation: run 30s ease-in;
}

.tire {
    width: 4.5vh;
    bottom: 100px;
    z-index: 10;
    animation: round 3s ease;
}

.one {
    left: 24px;
}

.one_ {
    width: 4.5vh;
    bottom: 100px;
    left: 24px;
    z-index: 10;
    animation: ring 3s ease-in;
}

.two {
    left: 102px;
}

.two_ {
    left: 102px;
    width: 4.5vh;
    bottom: 100px;
    z-index: 10;
    animation: ring 1s ease-in;
}

@keyframes show {
    from {
        left: 1000px;
        display: none;
    }

    to {
        left: 50px;
        display: inline-block;
    }
}

@keyframes round {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes run {
    form {
        left: 50px;
    }

    to {
        left: -100000px;
        display: none;
    }
}

@keyframes ring {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}