@font-face {
  font-family: Vazir;
  src: url('font/Vazir.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: Vazir, sans-serif;
}

.box {
  display: flex;
  background: #1076a5;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-transform: capitalize;
  animation: animate 100s linear alternate infinite;
}

form {
  padding: 7%;
  background: #06374e;
  border-radius: 10px;
}

.input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.input-box input {
  width: 100%;
  border: 1px solid #1076a5;
  border-radius: 5px;
  background: transparent;
  padding: 10px;
  padding-right: 40px;
  color: #fff;
}

.input-box img {
  position: absolute;
  width: 25px;
  top: 8px;
  right: 8px;
  filter: invert(1);
}

button {
  padding: 10px;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  border: 1px solid #1076a5;
  border-radius: 5px;
  color: #06374e;
  font-size: 1rem;
}

button:hover {
  color: #fff;
  background: #06374e;
}

button:active {
  transform: scale(0.9);
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}