body {
  background: #e2f7ff;
}

.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 30px;
  padding: 20px;
  background: #fff;
  border: 1px solid #00acee;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.slider p {
  font: 700 18px cursive;
  padding: 0 20px;
  color: #00acee;
}

.slider input[type="range"] {
  appearance: none;
  -webkit-appearance: none !important;
  width: 200px;
  height: 2px;
  background: #00abee85;
  border: none;
  outline: none;
}

.slider input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #00acee;
  border-radius: 50%;
  cursor: pointer;
}

.slider input[type="range"]::-webkit-slider-thumb:active {
  background: #00acee;
}