@media screen and (min-width: 576px) and (max-width: 767px) {
    /* header */

    /* main */
    .part , .side {
        margin: 10px;
    }

    .content form {
        margin: 0 auto;
        width: 400px;
    }

    /* footer */
    
    .foot {
        grid-template: "copyright icons" / 1fr 1fr ;
    }
}

@media screen and (min-width:768px) and (max-width: 1024px) {

    /* header */

    .head {
        grid-template-columns: 7fr 1fr;
        grid-template-areas: "list  logo"
                             "search search" ;
    }
    .navigation {
        display: block;
        padding: 30px 10px;
    }
    .nav-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
    }
    .list-mobile, .menu, .close {
        display: none;
    }
    .logo img{
        width: 100px;
    }
    input[type=search] {
        width: 60vw;
    }

    /* main */

    .container {
        grid-template: "part part sidebar"
                       "part part ...." / 1fr 1fr 1fr;
    }
    .part , .side {
        margin: 10px;
    }
    .content form {
        margin: 0 auto;
        width: 70%;
    }


    /* footer */

    .foot {
        grid-template: "copyright icons" / 1fr 1fr ;
    }
    .copyright {
        font-size: 16px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {

    /* header */

    .head {
        grid-template-columns: 7fr 1fr;
        grid-template-areas: "list  logo"
                             "search search" ;
    }
    .navigation {
        display: block;
        padding: 30px 10px;
    }
    .nav-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
    }
    .list-mobile, .menu, .close {
        display: none;
    }
    .logo img{
        width: 120px;
    }
    input[type=search] {
        width: 40vw;
    }

    /* main */

    .container {
        width: 80%;
        margin: 0 auto;
        grid-template: "part part sidebar"
                       "part part ...." / 1fr 1fr 1fr;

    }
    .part , .side {
        margin: 10px;
    }
    .title-content {
        font-size: 30px;
    }
    .content form {
        margin: 0 auto;
        width: 60%;
    }

    /* footer */

    .foot {
        grid-template: "copyright icons" / 1fr 1fr ;
    }
    .copyright {
        font-size: 24px;
    }
}


@media screen and (min-width: 1441px) {

    /* header */

    .head {
        grid-template-columns: 7fr 1fr;
        grid-template-areas: "list  logo"
                             "search search" ;
    }
    .navigation {
        display: block;
        padding: 30px 10px;
    }
    .nav-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
    }
    .list-mobile, .menu, .close {
        display: none;
    }
    .logo img{
        width: 100px;
    }
    input[type=search] {
        width: 40vw;
    }
    
    /* main */

    .container {
        width: 60%;
        margin: 0 auto;
        grid-template: "part part sidebar"
                       "part part ...." / 1fr 1fr 1fr;
    }
    .part , .side {
        margin: 10px;
    }
    .content form {
        margin: 0 auto;
        width: 50%;
    }

    /* footer */

    .foot {
        grid-template: "copyright icons" / 1fr 1fr ;
    }
    .copyright {
        font-size: 30px;
    }
}