.slider-image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto 10px;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 8px 12px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  right: 0;
}

.next {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(30, 30, 30, 0.5);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 12px;
  position: absolute;
  top: 8px;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dots {
  position: absolute;
  bottom: 8px;
  width: 100%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 576px) {
  .slider-image {
    height: 200px;
  }
}

@media screen and (min-width: 1024px) {
  .slider-image {
    height: 400px;
  }
}

@media screen and (min-width: 2560px) {
  .slider-image {
    height: 500px;
  }
}